/* TODO: move to theme */
.jqplot-axis {
    font-size: 1em;
    padding-left: 5px;
}
.jqplot-point-label {
    font-size: 1em;
}
.jqplot-base-canvas {
    height: 800px;
}

/* FIXME: move to theme */
.theme-chart-wrapper {
    margin-bottom: 10px;
    width: 100%;
}
